

/* edit above here for surrounding page elements */

/* edit below here for grid/box elements */

.box {
	/* temporary styling so we can see the box boundaries */
	border: solid black 1px;
}

.grid {
	/* don't change this! it removes any sort of weird bulleting */
	list-style: none;

	/* the .grid class is applied to a ul tag in our html. this padding:0 clears
	   the typical padding associated with a ul tag, but it can be changed to whatever we want */
	padding: 0;
}

.grid li {

	/* don't change this! necessary for masonry to correctly arrange our boxes */
	display: block;
	float: left;

	/* this just chooses the column width -- change however you want */
	width: calc(100%/3); /*three columns*/

	/* don't change this! it hides some initial elements so that they fade in when we scroll */
	opacity: 0;
}

.grid li.shown {

	/* don't change this! it makes it so we can see our boxes when they scroll into view  */
	opacity: 1;
}

.grid li.animate {
	/* this just affects how our new boxes fade in when we scroll down. Don't delete it, but
	   feel free to edit to look better */
	-webkit-animation: fadeIn 0.65s ease forwards;
	animation: fadeIn 0.65s ease forwards;
}

/* don't change these! defines the fadeIn animation used above in the animate class */
@-webkit-keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}
