body {
  font-family: "Playfair Display", serif;

}

#wrapper {
  margin: 0;
  padding: 0;
}

#content {
  padding-right: 200px;
  padding-left: 200px;
  margin: 0;
  background color: white;
}
#title-elems {
  padding-top: 20px;
  padding-bottom: 20px;
  display: float;
  clear: left;
}

h1 {
  margin-bottom: 30px;
    font-weight: 900;
    font-style: italic;
	   font-size: 70px;
	text-align: center;
}

h2 {
    font-weight: 900;
    font-style: italic;
	  font-size: 30px;
	text-align: center;
}

h3 {
  margin-bottom: 6px;
	   font-weight: 400;
	    font-size: 15px;
  text-align: center;
}

.return-link {
    font-weight: 900;
    font-style: italic;
    font-size: 15px;
    color: black;
  text-align: center;
}

/* edit above here for surrounding page elements */

/* edit below here for grid/box elements */

.box {
	/* temporary styling so we can see the box boundaries */
	/*border: solid black 1px;*/

  /*margin: 1em;*/

  /*font-family: 'Playfair Display', sans-serif;
	background: rgba(146, 186, 225, 0.15);
	text-align: center;*/

}

 .box-title {
 	margin-top: 5%;
 	font-size: 18px;
 	font-weight: 900;
  font-style: italic;

 }

.box-story {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5%;
	font-weight: 400;


 }

.photo {

}

.grid {
	/* don't change this! it removes any sort of weird bulleting */
	list-style: none;

	/* the .grid class is applied to a ul tag in our html. this padding:0 clears
	   the typical padding associated with a ul tag, but it can be changed to whatever we want */
	padding: 0;
}

.grid li {

	/* don't change this! necessary for masonry to correctly arrange our boxes */
	display: block;
	float: left;

	/* this just chooses the column width -- change however you want */
	width: calc((100% - 6em)/3); /*three columns*/

	/* don't change this! it hides some initial elements so that they fade in when we scroll */
	opacity: 0;

  /*background: rgba(146, 186, 225, 0.15);*/

  text-align: center;

  margin: 1em;

  background-color: #f6f6f6;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.05' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");

  border: 1em solid #f6f6f6;

}

.box:li {
  /*background: rgba(146, 186, 225, 0.15);*/
}

/*.grid li < .photo {
  background: white;
}*/

.grid li.shown {

	/* don't change this! it makes it so we can see our boxes when they scroll into view  */
	opacity: 1;

}

.grid li.animate {
	/* this just affects how our new boxes fade in when we scroll down. Don't delete it, but
	   feel free to edit to look better */
	-webkit-animation: fadeIn 0.65s ease forwards;
	animation: fadeIn 0.65s ease forwards;
}


/* don't change these! defines the fadeIn animation used above in the animate class */
@-webkit-keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}
