body {
  font-family: "Playfair Display", serif;
}

#wrapper {
  margin: 0;
  padding: 0;
}

#content {
  max-width: 1000px;
  padding: 1em;
  margin: 0 auto;
  background color: white;
}

#title-elems {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  margin-bottom: 30px;
  font-weight: 900;
  font-style: italic;
  font-size: 70px;
  text-align: center;
}

h2 {
  max-width: 700px;
  margin: .75em auto;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  text-align: center;
}

.return-link {
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

::selection {
  background: #b0262c; /* WebKit/Blink Browsers */
  color: white;
}

::-moz-selection {
  background: #b0262c; /* Gecko Browsers */
  color: white;
}

.box {
  background-color: #f6f6f6;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a8a8a8' fill-opacity='0.05' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  border: 1em solid #f6f6f6;
}

 .box-title {
 	margin-top: 5%;
 	font-size: 20px;
 	font-weight: 700;
  font-style: italic;
 }

.box-story {
  padding: 5% 10%;
	font-weight: 400;
 }

.grid {
	/* don't change this! it removes any sort of weird bulleting */
	list-style: none;
	padding: 0;
}

.grid li {
  width: calc((100% - 6em)/3); /*three columns*/
  margin: 2em 1em;
  text-align: center;

	/* don't change this! necessary for masonry to correctly arrange our boxes */
	display: block;
	float: left;
  opacity: 0;
}

.grid li.shown {
	opacity: 1;
}

.grid li.animate {
	-webkit-animation: fadeIn 0.65s ease forwards;
	animation: fadeIn 0.65s ease forwards;
}

@-webkit-keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

@media only screen and (max-width: 720px) {
    .grid li {
        width: calc((100% - 2em)); /* 1 col */
    }

    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 15px;
    }
}

@media only screen and (min-width:721px) and (max-width:1000px) {
    .grid li {
        width: calc((100% - 4em)/2); /* 2 col */

    }

}
