// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks


@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;
    $extmods: ( eot: "?", svg: "#" + str-replace($name, " ", "_"));
    $formats: ( otf: "opentype", ttf: "truetype");
    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }
    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

@include font-face(Pangram, misc/Pangram-Regular, null, null,otf);
@include font-face(Pangram-Light, misc/Pangram-Light, null, null,otf);
@include font-face(Pangram-Bold, misc/Pangram-ExtraBold, null, null,otf);

$font-family--primary    : Pangram;
$font-family--bold	     : Pangram-Bold;
$font-family--light      : Pangram-Light;

// Font Weights

$font-weight--light      : 300;
$font-weight--regular     : 400;
$font-weight--bold       : 800;

// Descriptive Base Colors

$white          : #fff;
$festival		: #33B4FF;
$wedgewood      : #455C8E;
$pistachio		: lighten(#B5E582,5%);
$cosmos			: #FCCFC7;
$heliotrope		: #D58BFC;
$rooster		: #C43156;
$black          : #36383D;
$grey           : #6F747C;



// Color Usage

$color-primary     : $festival;
$color-secondary   : $wedgewood;

$panel-light       : rgba(0, 0, 0, 0.2);
$panel-dark        : rgba(0, 0, 0, 0.3);

// Color Palette Modifiers

$color-palettes: (
	grey: (
		xx-light : lighten($grey, 43%),
		x-light  : lighten($grey, 35%),
	  	light    : lighten($grey, 12%),
	  	base     : $grey,
	 	dark     : darken($grey, 8%),
	 	x-dark   : darken($grey, 16%),
		xx-dark   : darken($grey, 28%)

	),
	primary: (
	  	xx-light : lighten($color-primary, 43%),
		x-light  : lighten($color-primary, 35%),
	  	light    : lighten($color-primary, 12%),
	  	base     : $color-primary,
	 	dark     : darken($color-primary, 8%),
	 	x-dark     : darken($color-primary, 25%),
	 	xx-dark     : darken($color-primary, 40%),
	),
	wedgewood: (
	  	xx-light : lighten($wedgewood, 43%),
		x-light  : lighten($wedgewood, 35%),
	  	light    : lighten($wedgewood, 12%),
	  	base     : $wedgewood,
	 	dark     : darken($wedgewood, 8%),
	 	x-dark     : darken($wedgewood, 3%),
	 	xx-dark     : darken($wedgewood, 40%),
	),
	black: (
		light    : lighten($black, 10%),
		base     : $black,
		dark     : darken($black, 10%)
	)
);

$ui-colors: (
	festival  	: $festival,
	wedgewood 	: $wedgewood,
	cosmos	  	: $cosmos,
	pistachio 	: $pistachio,
	heliotrope	: $heliotrope,
	rooster		: $rooster
);


// Breakpoints

$brkpoint-sm    : 1px;
$brkpoint-md    : 900px;
$brkpoint-lg    : 1100px;
