body {
	background-color: $white;

}

.container {
    width: 100%;
    
    @include m(cards) {
    	@include flexbox();
        @include flex-direction(row);
    	@include justify-content(space-around);
    	@include align-items(center);
    	@include flex-wrap(wrap);
        margin-top: 100px;
        width: 96%;
        margin-left: 2%;
    }
}
