.card {
    @include bg-colors($ui-colors);
    @extend %card;
    @include e(headline) {
        text-align: center;
        font-size: 30px;
    }
}

%headline {
    font-size: 36px;
}

%card {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    @include flex-wrap(wrap);
    width: 20vw;
    height: 15vw;
    margin: 2vh 0;
    padding: 0px 20px;
    color: $white;
    font-family: $font-family--primary;
    border-radius: 3px;
    @include transition(box-shadow 0.7s);
    box-shadow: 10px 22px 45px -20px lighten($grey, 5%);
    &:hover {
        box-shadow: 0px 0px 20px -20px lighten($grey, 5%);
    }
}

[class^="card--"] {
    @extend %card;
}
